<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title th:text="${title}"></title>
</head>

<body>

	<h1 th:text="${title}"></h1>

	<ul>
		<li><a th:href="@{/params/string(text='Hello Spring')}">/params/string?text=Hello Spring</a></li>
		<li><a th:href="@{/params/string(text='Hello')}">/params/string?text=Hello</a></li>
		<li><a th:href="@{/params/mix-params(text='Hello',number=13)}">/params/string?text=Hello&number=13</a></li>
		<li><a th:href="@{/params/mix-params-request(text='Jose Ramon',number=12)}">/params/string?text=Jose Ramon&number=12</a></li>
	</ul>


</body>

</html>