<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">Home<span class="sr-only">(current)</span></a></li>
            <li class="nav-item"><a class="nav-link active" aria-current="page" routerLink="lista-datos">Lista<span class="sr-only">(current)</span></a></li>
            <li class="nav-item"><a class="nav-link active" aria-current="page" routerLink="buscar-id">Buscar Id<span class="sr-only">(current)</span></a></li>
            <li class="nav-item"><a class="nav-link active"  aria-current="page" routerLink="insertar-dato">Insertar<span class="sr-only">(current)</span></a></li>
            <li class="nav-item"><a class="nav-link active"  aria-current="page" routerLink="editar-dato">Editar<span class="sr-only">(current)</span></a></li>
            <li class="nav-item"><a class="nav-link active" aria-current="page" routerLink="eliminar-dato">Eliminar<span class="sr-only">(current)</span></a></li>
        </ul>
    </div>
</nav>

<!-- manda a llamar al componenete-->
<router-outlet></router-outlet>

